$main-color:  #D4737E;
@keyframes blinking-cursor {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.home {
	display: flex;
	margin: 0 auto;
	align-items: center;
	&__img{
		transition: ease-in 5s all;
		display:none;
	}
	&__h1 {
			font-size: 3.4rem;
			font-weight: 900;
			letter-spacing: 0.1rem;
		}
	&__h2 {
		font-size: 1rem;
		font-weight: 700;
		letter-spacing: 0.1rem;
		margin: 0.3rem 0 0 0.2rem;
			span {
				color: $main-color;
			}
		}
	}
.react-rotating-text-cursor {
	animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}
@media only screen and (min-width: 760px) {
	.home__img{
		display: block;
		width: 12rem;
		min-width: 290px;
		z-index: -5;
	}
}

