.home-container{
    width: fit-content;
    margin: 0 auto;
}
/*font-styling*/
.home-text-wrapper h1{
    font-size: 3.4rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
}
.home-text-wrapper h2{
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin: 0.2rem 0 0 0.2rem;
}
.home-text-wrapper h2 span{
    color: #D4737E;
}
/*img styling*/
.home-container img{
    width: 10rem;
    min-width: 290px;
    z-index: -1;
}
/*card styling*/
.alert-card{
    display: flex;
    align-items: center;
    margin: 0.5rem 0 0 0;
}
.alert-card p {
    width: 15rem;
    font-size: 10px;
    letter-spacing: 0.1rem;
    opacity: 0.5;
    margin: 0 0 0 0.5rem;
    line-height: 0.9rem;
}
.alert-card .fa-exclamation-circle{
    color: #D4737E;
}
