$main-color:  #D4737E;
.alert-card {
	display: flex;
	opacity: 1;
	padding: 0.2rem 0.5rem;
	border: 0.1rem solid rgba( 212, 115, 126,0.5);
	border-radius: 5px;
	align-items: center;
	margin: 0.5rem 0 0 0;
	&__text {
		width: 15rem;
		font-size: 10px;
		letter-spacing: 0.1rem;
		opacity: 0.5;
		margin: 0 0 0 0.5rem;
		line-height: 0.9rem;
	}
	.fa-exclamation-circle {
   		width: 1rem;
		color: $main-color;
	}
}