/*testing*/
@mixin tablet-plus {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin desktop-plus {
  @media screen and (min-width: 1080px) {
    @content;
  }
}

@mixin project-text--m {
  font-size: 0.8125rem;
  line-height: 23px;
  font-weight: 300;
  color: #707070;
}

@mixin project-text--w {
  font-size: 1.25rem;
  line-height: 32px;
  font-weight: 300;
  color: #707070;
}

@mixin project-heading--m {
  font-size: 1.25rem;
  line-height: 32px;
  font-weight: 700;
  color: #5a5a5a;
}

@mixin project-heading--w {
  font-size: 1.625rem;
  line-height: 32px;
  font-weight: 700;
  color: #5a5a5a;
}

.green-text {
  color: #a7d76d;
}

.green-text--medium {
  color: #a7d76d;
  font-weight: 700;
  opacity: 1;
}

.project {
  width: 100%;
  margin: 32px 0px;
  max-width: 425px;
  align-self: center;
  @include tablet-plus() {
    max-width: 1020px;
  }

  &__title {
    font-size: 3.3125rem;
    letter-spacing: 0.2rem;
    font-weight: 900;
    margin: 0 0 24px 0;
  }
  .description {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    @include tablet-plus() {
      margin-left: 48px;
      flex-direction: row;
    }
    &__list {
      margin-bottom: 16px;
      @include tablet-plus() {
        margin-right: 72px;
        margin-bottom: 0px;
      }
    }
    &__list__item:nth-of-type(1) {
      @include project-heading--m();
      font-weight: 300;
    }
    &__list__item:nth-of-type(n + 2) {
      @include project-text--m();
      opacity: 0.5;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    .content__card {
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;
      &__text {
		width: 300px;
        margin-bottom: 16px;
        @include tablet-plus() {
          width: 50%;
        }
      }
      &__text__heading {
        @include project-heading--m();
        @include tablet-plus() {
        }
      }
      &__text__paragraph {
        @include project-text--m();
        @include tablet-plus() {
        }
      }
    }
  }
}
// .card {
// 	margin: 0 auto;
// 	width: 18.75rem;
// 	h2 {
// 		@include project-heading_m();
// 	}
// 	p {
// 		@include project-text_m();
// 		margin: 5px 0 0 0;
// 	}
// }
// .card:nth-of-type(odd) {
// 	text-align: right;
// }
// .card:nth-of-type(1) {
//     div{
//         width: 18.75rem;
//         height: 14.375rem;
//             .otter-cart-opening-graphic {
//                 margin: 20px 0 2.5rem 0;
//                 width: 100%;
//             }
//     }

// }

// .project-content-container {
// 	margin: 40px 0 0 0;

// 	.card:nth-of-type(2) {
//         position: relative;
//         margin-top:2.5rem;
// 		p:nth-of-type(1) {
// 			width: 13.5rem;
// 			margin-bottom: 20px;
// 		}
//             .rocket-ship {
//                 position: absolute;
//                 top: 4rem;
//                 left: 12rem;
//                 width: 7.8125rem;
//             }
// 		.text-graphic {
// 			display: flex;
// 			align-items: center;
// 			justify-content: space-between;
// 			margin-top: 15px;
// 			margin-bottom: 15px;
// 			p {
// 				margin: 0;
// 				width: 100%;
// 			}
// 			div:nth-of-type(1) {
// 				p {
// 					@include project-heading_m();
// 					text-align: center;
// 				}
// 			}
// 			div:nth-of-type(2) {
// 				margin-left: 10px;
// 				width: 125px;
// 				height: 110px;
// 			}
// 		}
//     }
//     .card:nth-of-type(3) {
//         display: flex;
// 		flex-direction: column;
// 		margin-top: 2.5rem;
//         div{
//             width: 13.125rem;
//             height: 24.6875rem;
//             align-self: center;
//                 .user-interface-img {
//                     margin: 20px 0;
//                     width: 100%;
//                 }
//         }

//     }
